@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(8, 8, 8);
}

ul{
    list-style: none;
}

nav{
    font-size: 1.3rem;
    box-shadow: 0 3px 5px rgba(39, 38, 38, 0.5);
    letter-spacing: 4px;
    padding: 1rem 3rem;
    position: sticky;
}

.nav-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-link{
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#bd{
    height: 89.6vh;
}

.container{
    font-family: 'Supermercado One', cursive;
    display: flex;
    min-width: 80vw;
    /* min-height: 50vh; */
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#bg{
    margin-top: 15vh;
    padding: 2.2rem;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.7rem;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border-radius: 25px;
    background-color: #1c1e1f;
}

.color{
    padding-left: 1rem;
}

#btn{
    font-size: 1.1rem;
    font-family: 'Supermercado One', cursive;
    border: 2px solid #000000;
    border-radius: 15px;
    color: #000000;
    padding: 15px 20px;
    cursor: pointer;
}

